a{
    text-decoration: none;
    color: black;
}

header {
    background-color: #008374;
}

header .info-content {
    background-color: #007668;
    height: 40px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
    color: white;
}

.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}


header .right {
    float: left;
    padding-left: 40%;
    color: red;
    line-height: 0;
    transition: 0.3s;

}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}


.container{
    width: 100%;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.bg-secondary{
    background-color: #007668 !important;
}


.title::before{
    content: '';
    margin-top: -20px;
    background: #007668;
    height: 3px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(55px);
}


header .navbar-nav{
    gap: 10PX;
}

.bg-light{
    background-color: #008374 !important;

}

header .nav-item a{
    color: #fff !important;
    font-weight: 600;
}
#main{
    height: 100vh;
}

.img-video{
    width: 30px;
    height: 30px;
}

.btn-secondary{
    border: 2px solid;
    background-color: #008374 !important;
}

#cards .card{
    height: 16rem;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#cards .card:hover{
    overflow: hidden;
    transform: scale(1);
    background-color: #007668 !important;
}

#cards .icn{
    font-size: 50px;
    margin-top: 30px;
}

#cards{
    margin-top: -0px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#About img{
    border-radius: 2%;
}


/* OUR SERVICES */
.ame{
   font-size: 35px;
   margin-top: 10px;
   margin: 10px ;
}

.titl{
    font-size: 45px;
}

.position-relative{
    position: relative;
}

.contente{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    margin: 35% 40%;
}

.image{
    width: 50px;
    height: 50px;
}

#testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}


.social-icon a {
    width: 45px;
    height: 45px;
    line-height: 35px;
    justify-content: space-around;
    font-size: 15px;
    padding-top: 5px;
    display: inline-block;
    border: 2px solid grey;
    margin-top: 20px;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355,1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355,1);
}

.social-icon a:hover{
    border-color:  #007668;
    color: #008374;
    box-shadow: 0 10px 15px 0  rgba(0, 0, 0, 10%);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border: none !important;
    color: #008374 !important;

}

#Portfolio img:hover{
    color: #007668;
    cursor: pointer;
    transition: all 30s;
    box-shadow: -2px 3px 22px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 22px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 22px -11px rgba(0,0,0,0.75);
    overflow: hidden;
    transform: scale(1.1);
}

#Portfolio a:hover{
    color: #007668;
}

#asked p button{
    color: black;
    font-size: 20px;
}

#asked p button:hover{
    color: #007668;
}

#blog .contenter .left img{
    width: 50px !important;
    height: 50px !important;

}

.contenter{
    display: flex;
}

#contact .bordere{
    border: 2px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    padding-left: 11px;
}

#contact i{
    font-size: 20px;
}

#contact .bordere:hover{
   background-color: #fff;
   color: #007668;
   cursor: pointer;
}

#contact .contenter .border{
    border: 2px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    padding-left: 10px;
} 

#contact .contenter .border:hover{
    background-color: #fff;
    color: #007668;
    cursor: pointer;
} 

#contact .contenter{
    background-color: #008374;
}

.bg-danger{
    background-color: #007668 !important;

}

#portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none !important;
    color: #007668;
}


.border-secondary{
    border: 4px solid #008374 !important;
}


.bouton{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 32%;
}


footer .container .h-50{
height: 10vh !important;
}

#precing .paragraphes{
    text-decoration: line-through;
}

#precing .paragraphes .fa-solid{
    font-size: 15px;
}

#precing .btn{
    border: 2px solid #007668 !important;
    font-weight: bold;
    width: 10em;
    justify-content: center;
    align-items: center;
}

#precing button:hover{
    background-color: #007668;
    color: #fff;
    
}

#precing .carde{
    border: 2px solid #007668;
    height: 90vh !important;
} 

#precing .icone{
    color: #fff;
    height: 70px ;
    width: 70px;
    background-color: #007668;
    border-radius: 50%;
    padding: 17px 20px;
    margin: 10% 40% ;

} 

#precing .card {
    background-color: var(--surface-color);
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    height: 100%;
    position: relative;
    border-radius: 15px;
}

#precing .content{
    border: 2pX solid red;
    justify-content: center !important;
    padding-left: 30%;
}

.nav-tabs{
    border: none !important;
}

#precing .card-body i{
    font-size: 30px;
    
}

#precing .card h4{
    font-size: 30px;
    color: #007668;
}

#precing .card span{
    color: #262626;
    font-weight: lighter;
}

#PRECING .border-5{
    border: 3px solid #007668 !important;
}

#precing .card h4 sup{
    font-size: 28px;
    top: -0.5em;
    left: 10px;
}

ul li{
    list-style: none;
}

.social-icone li{
    margin: 6px;
}

.social-icone a {
    width: 45px;
    height: 45px;
    line-height: 35px;
    justify-content: space-around;
    font-size: 15px;
    padding-top: 5px;
    display: inline-block;
    border: 2px solid;
    color: grey;
    margin-top: 20px;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355,1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355,1);
}

.social-icone a:hover{
    border-color:  #fff;
    color: white;
    box-shadow: 0 10px 15px 0  rgba(0, 0, 0, 10%);
}

@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important
;
    }

    .right{
        padding-left: 0;
    }
}